{% extends "_base.html" %}

{% block home %}
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
         <h1>{{this.title}}</h1>
         <h2>{{this.tagline}}</h2>
       </div>
    </div>
 </div>
</div>

<main>

<div class="container">
{{this.body}}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2 ">
      {% set rel = site.reflinks['/news/releases'].content[0] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Release news</h1>
        </div>
        <div class="panel-body">
          <p>{{rel.date|dateformat}}&nbsp;&nbsp;<a href="news/releases">{{rel.title}}</a></p>
        </div>
      </div>
      {% set news0 = site.reflinks['/news/general'].content[0] %}
      {% set news1 = site.reflinks['/news/general'].content[1] %}
      {% set news2 = site.reflinks['/news/general'].content[2] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">General news</h1>
        </div>
        <div class="panel-body">
          <p>{{news0.date|dateformat}}&nbsp;&nbsp;<a href="news/general">{{news0.title}}</a></p>
          <p>{{news1.date|dateformat}}&nbsp;&nbsp;<a href="news/general">{{news1.title}}</a></p>
          <p>{{news2.date|dateformat}}&nbsp;&nbsp;<a href="news/general">{{news2.title}}</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Tweets</h1>
        </div>
        <div class="panel-body">
          {% include 'twitter_timeline.html' %}
        </div>
      </div>
   </div>
  </div>
</div>

</main>

{% include 'footer.html' %}

{% endblock %}
