{% extends "_base.html" %}

{% block home %} 
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
         <h1>{{this.title}}</h1>
         <h2>{{this.tagline}}</h2>
       </div>
    </div>
 </div>
</div>

<main>

<div class="container">
{{this.body}}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 text-center">
      {% set news = site.reflinks['/news/releases'].content[0] %}
      <div class="panel panel-default">
        <div class="panel-heading">Release news</div>
        <div class="panel-body">
          {{news.date|dateformat}}&nbsp;&nbsp;<a href="news/releases">{{news.title}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center">
      {% set news = site.reflinks['/news/general'].content[0] %}
      <div class="panel panel-default">
        <div class="panel-heading">General news</div>
        <div class="panel-body">
          {{news.date|dateformat}}&nbsp;&nbsp;<a href="news/general">{{news.title}}</a>
        </div>
      </div>
   </div>
  </div>
</div>

</main>

{% include 'footer.html' %}

{% endblock %}

