{% extends "_base.html" %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-md-8" role="main">
        <div class="page-header">
           <h1>{{ this.title }}</h1>       
        </div>
        <main>
            {% for item in this.content %}
                <h2><small style="font-family:monospace;">{{item.date|dateformat}}</small>
                    &nbsp; {{item.title}}</h2>
                <div class="lead">
                  {{item.body}}
                </div>
            {% endfor %}
        </main>
        </div>

    </div>

    {% include 'footer.html' %}

</div 

{% endblock %}

